---
layout: index
title: Three AAR
tagline: A Dwarkason Company
css: 
js: sliders.js
keywords: filters, paramount filters
canonical: https://heliumjk.github.io
---
{% include JB/setup %}
<!-- Content Area Start -->
<div id="content">
      <!-- sliders -->
      <div id="headers">
        <!-- Light header -->
        
            <div class="header-caption">
              <div class="row">
                <div class="col-md-12 header-content">
                  <h1 class="header-title animated fadeInDown"><strong>Paramount Filter Products</strong></h1><br>
                  <div class="col-md-5 col-sm-6">
                    <p class="lead">Three Aar is a name to reckon with when it comes to Filtration Products. Three Aar is the forerunner of the “DWARKASON GROUP” of companies. </p>
                    <br>
                    <p> Three Aar boasts of a wide product mix that includes Filter papers, Paint Booth Filters, Short Blast Filters, Filter Pads, Filter Cartridges, Cutting Oil Filter Rolls, </p>
                    <br>
                    <p>Filter Bags, ETP Filter Cloth, Anode Bags/Filter Bags, Seed Germination Paper, to name a few.</p>
                    
                  </div>
                  
                  <br>
                  <a href="contact.html" class="page-scroll btn btn-lg btn-default-filled animated fadeInUp">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>
      <!-- End sliders -->
      <div class="mb-60"></div>
	<!-- END HEADER -->
            <div class="mb-60"></div>
	
      <div class="container">
        <h4 class="sub-title text-center">Hot Products</h4>
      </div>

      <!-- posts carousel -->
      <section id="blog">
        <div class="container">                              
          <div id="posts-carousel" class="owl-carousel">
           {% for post in site.posts %}     
            <div class="blog-block blog block carousel-post">
             {% if post.img %}           
              <img src="assets/images/{{ post.img }}" alt="">
             {% endif %}           
              <h5>{{ post.title }}</h5>
              <p>{{ post.excerpt }}</p>
            </div>
           {% endfor %}     
          </div>              
        </div>
      </section>
      <div class="mb-60"></div>
            <div class="mb-60"></div>
<!---About US-->
      <div class="header-style-2">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="hero-content-v2">
                <h3><strong>About Us</strong></h3>
              </div>
                <ul class="list-featured space-bottom-20">
                <li>Qualified technocrats fuel the functioning of the group. These engineers give momentum to Three Aar in meeting the standardized as well as customized industrial requirements of its esteemed customers.</li> 
                <li>In addition to having own infrastructure and facilities, Three Aar has strategic tie-ups across the globe to provide state of the art filter products to its customers.</li>
                <li>Our Filterking brand of filter paper is one of the most respected and admired filter papers in the country having replaced the top international brands for qualitative filtration at almost one-fifth the cost. For more details, refer our products section.</li>
                </ul> 
                
            </div>
            <div class="col-xs-12 col-sm-6">
              <figure>
                <img src="assets/images/bg/map.png" alt="">
              </figure>
            </div>

          </div>
        </div>
      </div>
      <div class="mb-60"></div>
      <div class="mb-60"></div>
	
      <!-- Product Listing -->	
      <section id="portfolio">
        <div class="container">
          
            <h4 class="sub-title text-center">Our Products</h4>
         
          <ul class="row portfolio list-unstyled" id="grid">
            {% for prod in site.posts %} 
            <li class="col-xs-6 col-md-4 project">
              <figure>

                <div class="hovereffect">
                  <a class="left-link" href="portfolio.html">
                  {% if prod.img %} 
                  <img src="assets/images/portfolio/{{ prod.img }}" alt="">
                  </a>
                    </div>
                  </div>
                </div>
              </figure>
              {% endif %}
              <div class="portfolio block">
                <h5>{{ prod.title }}</h5>
                <p class="project-description">{{ prod.excerpt }}</p>
              </div>
            </li>
            <!-- project -->
          </ul>
        </div>
      </section>     
      <!-- End Product-->      	
	
	
      <div class="mb-60"></div>
      <div class="mb-60"></div>
            
            
      <!-- CONTACT FORM -->     

<!-- Content area end -->
